@import 'tailwindcss';

@layer components {
  .form-group {
    @apply flex flex-col gap-1;
  }

  .form-label {
    @apply text-sm font-medium text-[#aa8320];
  }

  .form-input {
    @apply w-full rounded-lg bg-zinc-900 border border-zinc-700
           px-4 py-2 text-white placeholder-zinc-400
           focus:outline-none focus:ring-2 focus:ring-[#aa8320]
           focus:border-transparent transition;
  }
  .form-image {
    @apply flex items-center justify-center gap-2
           cursor-pointer rounded-lg border border-dashed border-zinc-600
           bg-zinc-900 px-4 py-6 text-zinc-400
           hover:border-[#aa8320] hover:text-[#aa8320]
           transition;
  }
  .form-radio {
    @apply cursor-pointer px-5 py-3 rounded-lg border   text-center font-medium transition-all duration-200 border-zinc-700 text-zinc-300 hover:border-[#aa8320] has-[:checked]:bg-[#aa8320] has-[:checked]:text-black has-[:checked]:border-[#aa8320];
  }
}
@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none; 
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;  
  }
}